.one{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

 }
 .one img{
    width:100%;
    display: none ;
 }
 img.displayslide{

    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
 }
 .one button{
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.523);
    color: aliceblue;
    border: none;
    cursor: pointer;

 }
 .previous{
    left: 0;
 }
 .next{
    right: 0;
 }
 @keyframes fade {
    from{ opacity:.5 }
    to{opacity: 1}
 }